<header>
  <div id="header-left" class={{headerType}}>
    <div class="add" (click)="changeTab($event)">
      <i class="add fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="search" (click)="changeTab($event)">
      <i class="search fa fa-search" aria-hidden="true"></i>
    </div>
    <div id="input-text">
      <input type="text" placeholder="Add a task..." >
      <i class="input-icon fa fa-plus" aria-hidden="true" (notify)='onNotify($event)'></i>
    </div>
  </div>
  <div id="header-right">
    <div class="user-img"></div>
    <div class="user-text">
      <span class="user-name">Murillo Kenji</span>
      <span class="user-stats">Logged in</span>
    </div>
  </div>
</header>