<header>
  <div id="header-left" class="add-tag">
    <div class="add active">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="search">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div id="input-text">
      <input type="text" placeholder="Add a task..." >
      <i class="fa fa-plus add-task" aria-hidden="true"></i>
    </div>
  </div>
  <div id="header-right">
    <div class="user-img"></div>
    <div class="user-text">
      <span class="user-name">Murillo Kenji</span>
      <span class="user-stats">Logged in</span>
    </div>
  </div>
</header>