<!--The content below is only a placeholder and can be replaced.-->
<div id="header">
  <div id="header-left" class="add-tag">
    <div class="add active">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="search">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div id="input-text">
      <input type="text" placeholder="Add a task..." >
      <i class="fa fa-plus add-task" aria-hidden="true"></i>
    </div>
  </div>
  <div id="header-right">
    <div class="user-img"></div>
    <div class="user-text">
      <span class="user-name">Murillo Kenji</span>
      <span class="user-stats">Logged in</span>
    </div>
  </div>
</div>
<div id="task-container">
  <ul class="task-list">
    <li class="task">
      <input type="checkbox">
      <span>It reads data from local storage</span>
      <i class="fa fa-close" aria-hidden="true"></i>
    </li>
    <li class="task done">
      <input type="checkbox">
      <span>Follow me for more</span>
      <i class="fa fa-close" aria-hidden="true"></i>
    </li>
  </ul>
</div>
<footer>
  <span>You have 6 total items. 1 undone items and 5 done items.</span>
</footer>
